In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

import tensorflow as tf

In [2]:
bank_marketing_dataset = pd.read_csv("dataset/bank-full.csv", sep=';')

In [3]:
bank_marketing_dataset.head(n=10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

In [4]:
x = bank_marketing_dataset.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 12, 13, 14, 15]]
y = bank_marketing_dataset['y'].values

In [5]:
x = pd.get_dummies(x, columns=['job', 'marital', 'education', 'default', 'housing', 'loan', 
                            'campaign', 'pdays', 'previous', 'poutcome'], drop_first=True)

In [6]:
x = x.values

In [7]:
# encode the output variable into 1's & 0's
label_encoder_y = LabelEncoder()
y = label_encoder_y.fit_transform(y)

# reshape Y into array of (n_x, m)
y = y.reshape(1, y.shape[0])

In [8]:
feature_scaler = MinMaxScaler(feature_range=(0,1))
x = feature_scaler.fit_transform(x)

/anaconda/envs/deep-learning/lib/python3.6/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [9]:
x = x.reshape(x.shape[1], x.shape[0])

In [10]:
x.shape

(669, 45211)

In [11]:
def initialize_params(layer_dimensions):
    """
    
    """
    
    num_of_layers = len(layer_dimensions)
    parameters = {}
    
    for l in range(1, num_of_layers):
        parameters['W' + str(l)] = tf.get_variable(shape=[layer_dimensions[l], layer_dimensions[l - 1]], 
                                                   dtype=tf.float32, name='W' + str(l))
        parameters['b' + str(l)] = tf.zeros(shape=[layer_dimensions[l], 1])
        
    return parameters

In [12]:
layer_dims = [10, 20 , 1]
derp = initialize_params(layer_dims)

In [15]:
def forward_propagation(x, parameters):
    """
    
    """
    
    A0 = x
    L = len(parameters) // 2
    
    for l in range(1, (L - 1)):
        Z = tf.matmul(parameters['W' + str(l)], A0) + parameters['b' + str(l)]
        A = tf.nn.relu(Z)
        
    Z_output = tf.matmul(parameters['W' + str(L)])
    A_output = tf.nn.sigmoid(Z_output)

In [16]:
def compute_cost(y_true, y_pred, parameters):
    """
    
    """
    
    cost = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(logits=y_pred, labels=y_true))
    
    return cost